/* general stylesheet begins here! */

:root {
    --hue-neutral: 200;
    --hue-correct: 0;
    --hue-wrong: 145;

}

.container {
  background-color: transparent;
  opacity: 0.5;
}

.container:hover {
  opacity: 0.9;
  transition-timing-function: ease-in-out;
  transition: 0.3s;

}

h1 {
  color: white;
  font-weight: bold;
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 40pt;
  line-height: 0cm;
  margin-top: 4pt;
}

hr {
  color: white;
  border: solid;
  line-height: 1pt;

}

p {
  color: white;
  font-weight: bold;
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 20pt;
  font-weight: lighter;
}

/* general stylesheet ends here! */

/* stylesheet for case begins here! */

.button {
  font-family: 'Alegreya Sans SC', sans-serif;
  background-color: transparent;
  border-color: white;
  color: ghostwhite;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  border-radius: 12px;
  float: right;
}

.button:hover {
  opacity: 1;
  background-image: url(colorful.jpg);
  border-style: solid;
}